<section id="about" class="about section-bg-alt">
  <div class="container">
    <div class="section-title text-center" data-aos="fade-up">
      <h2  class="fw-bold mb-4">About Us</h2>
      <h5>Who We Are</h5>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <p class="fs-5">
            We are a dynamic team of developers and designers passionate 
            about creating digital solutions that help businesses thrive online. 
            With expertise in modern web technologies, 
            we transform ideas into powerful digital experiences.        
        </p>
      </div>
    </div>
    
    <div class="section-title text-center" data-aos="fade-up">
      <h5>Everything You Need, All in One Place</h5>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <p class="fs-5">
            No more wasting time looking for separate designers, developers, and maintainers. 
            With AuraVisual, you get a dedicated creative studio that takes care of your entire digital presence 
            — from stunning design and rock-solid development to ongoing support and updates.
            After a simple briefing, we propose tailored packages that fit your unique needs and budget. Fast, flexible, and fully handled by a single team that understands your vision.        
        </p>
        <div class="highlight-box mt-4 mb-5" data-aos="zoom-in" data-aos-delay="200">
          <h3 class="highlight-text">Creative, Fast and Flexible in One Solution</h3>
        </div>
      </div>
    </div>    

    </div>
  </div>
</section><!-- End About Section -->