<section id="contact" class="contact section-bg py-5 mb-0 pb-5">
  <div class="container">
    <div class="section-title text-center py-2" data-aos="fade-up">
      <h2>Contact Us</h2>
      <p>Get In Touch With Our Team</p>
    </div>

    <div class="row">
    <div class="col-lg-5 d-flex align-items-center justify-content-center" data-aos="fade-right">
        <div class="contact-img">
            <img src="{{ url_for('static', filename='img/contact-img.png') }}" class="img-fluid animated" alt="Contact us illustration" loading="lazy">
            <div class="contact-info mt-4 text-center">
                <p><i class="bi bi-envelope me-2"></i>info@auravisual.dk</p>
                <p><i class="bi bi-phone me-2"></i>+45 503 22 726</p>
            </div>
        </div>
    </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
        <form action="{{ url_for('main.submit_contact') }}" method="post" role="form" class="email-form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <label for="email">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="form-group col-md-6">
              <label for="phone">Phone Number</label>
              <input type="tel" class="form-control" name="phone" id="phone">
            </div>
            <div class="form-group col-md-6">
              <label for="company">Company (if you already have)</label>
              <input type="text" class="form-control" name="company" id="company">
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="project_name">Project Name</label>
            <input type="text" class="form-control" name="project_name" id="project_name" required>
          </div>
          <div class="form-group mt-3">
            <label for="message">Project Description</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
            <div class="text-center">
                <button type="submit" class="btn-get-started btn-lg pulse-animation">
                    <i class="bi bi-send-check-fill me-2"></i> Start Your Project
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>