  <!-- ======= Hero Section ======= -->
  <section id="hero">    
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1000">
  <div class="hero-headline">
    <p id="hero-title" class="display-1 fw-bold">
      <span class="d-block">MAKE <span class="accent-text">IT</span> HAPPEN</span>
    </p>
  </div>
  
  <h2 data-aos="fade-right" data-aos-delay="900" class="mt-4 mb-5">
    Launch your startup online in <span class="fw-bold text-highlight">30 days.</span>
  </h2>
  
  <div class="text-center text-lg-start" data-aos="zoom-in" data-aos-delay="1200">
    <a href="#about" class="btn-get-started scrollto btn-lg pulse-animation" aria-label="Go to About section">
      <i class="bi bi-rocket-takeoff me-2"></i> I'm Ready
    </a>
  </div>
</div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300" data-aos-duration="1500">
          <img src="{{ url_for('static', filename='img/hero-img.png') }}" loading="eager" fetchpriority="high" class="img-fluid animated" alt="Marketing illustrations by Storyset">
        </div>
      </div>
    </div>
    

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
        </g>
    </svg>
  </section><!-- End Hero -->