<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="m-0 d-flex align-items-center">
          <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="AuraVisual" class="logo-img me-2">
          </a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="{{ url_for('main.index') }}" aria-label="Back to home page">Home</a></li>
          <li><a class="nav-link scrollto active" href="#hero" aria-label="Go to Home section">Overview</a></li>
          <li><a class="nav-link scrollto" href="#benefits" aria-label="Go to Benefits section">Benefits</a></li>
          <li><a class="nav-link scrollto" href="#how-it-works" aria-label="Go to How it works section">How it works</a></li>
          <li><a class="nav-link" href="{{ url_for('your_card.index') }}" aria-label="Go to Your Card page">Your Card</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->