<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="m-0 d-flex align-items-center">
          <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="AuraVisual" class="logo-img me-2">
          </a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero" aria-label="Go to Home section">Home</a></li>
          <li><a class="nav-link scrollto" href="#mission" aria-label="Go to Mission section">Mission</a></li>
          <li><a class="nav-link scrollto" href="#about" aria-label="Go to About section">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#features">Features</a></li> -->
          <li><a class="nav-link scrollto" href="#team" aria-label="Go to Team section">Team</a></li>
          <li><a class="nav-link scrollto" href="#portfolio" aria-label="Go to Portfolio section">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#plan" aria-label="Go to Plans section">Plan</a></li>          
          <li><a class="nav-link scrollto" href="#contact" aria-label="Go to Contact section">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->