{% extends "base.html" %}

{% block title %}Homepage | AuraVisual{% endblock %}

{% block meta_description %}AuraVisual - Una moderna applicazione Flask per Google Cloud Run{% endblock %}

{% block meta_keywords %}flask, cloud run, firestore, serverless{% endblock %}


{% block content %}
    <!-- ======= Hero Section ======= -->
    {% include 'components/hero.html' %}
    <!-- ======= Main Content ======= -->
    <main id="main">
    <!-- ======= Mission ======= -->
    {% include 'components/mission.html' %}
    <!-- ======= About Section ======= -->
    {% include 'components/about.html' %}
    <!-- ======= Team Section ======= -->
    {% include 'components/team.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'components/contact.html' %}
    </main>
      
    
    
    

    <!-- Other sections would go here -->
    
  

{% endblock %}
