<section class="cta-strip">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8" data-aos="fade-right">
        <h2>Give your clients a better way to connect.</h2>
        <p>Replace the traditional business card with a digital touchpoint that is more useful, memorable and conversion-focused.</p>
      </div>
      <div class="col-lg-4 text-lg-end" data-aos="fade-left">
        <a href="{{ url_for('main.index') }}#contact" class="btn-get-started pulse-animation">Talk to us</a>
      </div>
    </div>
  </div>
</section>
